.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center; }

.f-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.f-space {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.container {
  width: 90%;
  margin: auto; }

header {
  z-index: 1;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509804); }
  header .contentHeader ul li {
    margin-left: 15px;
    text-align: center; }
    header .contentHeader ul li a {
      padding-right: .5rem;
      padding-left: .5rem;
      color: #333;
      font-size: 20px;
      font-weight: 500;
      width: 100%;
      position: relative;
      overflow: hidden; }
      header .contentHeader ul li a:after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        background: brown;
        transform: translateX(-160px);
        width: 100%;
        height: 100%;
        opacity: 0; }
    header .contentHeader ul li a:hover a:after {
      animation: animationaAfter 1s forwards; }
  header .img {
    width: 150px;
    height: 70px; }
    header .img img {
      width: 100%;
      height: 100%; }
  header .menuCollapse {
    display: none; }
    header .menuCollapse .menu {
      background: rgba(0, 0, 0, 0.7);
      width: 100%; }
      header .menuCollapse .menu ul li {
        padding: 10px 20px;
        border-bottom: 1px solid gray; }
        header .menuCollapse .menu ul li a {
          color: white; }
    header .menuCollapse .collapse button {
      border: 1px solid black;
      padding: 10px; }
      header .menuCollapse .collapse button span {
        width: 25px;
        height: 5px;
        font-size: 20px;
        background: black;
        display: block; }

@keyframes animationaAfter {
  0% {
    opacity: 1;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translateX(100px); } }

.slider {
  z-index: 0;
  background: url("../img/slide.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
  position: relative; }
  .slider .text {
    z-index: 1;
    color: white; }
    .slider .text h1 {
      font-size: 30px; }
    .slider .text p {
      font-size: 20px;
      text-align: center;
      margin-top: 10px; }
  .slider::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); }

.col-8 {
  width: 60%; }

.col-2 {
  width: 20%; }

.col-10 {
  width: 75%; }

.col-4 {
  width: 35%; }

.col-6 {
  width: 45%; }

.h5 {
  font-size: 19px;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 30px; }

.h5:after {
  position: absolute;
  top: 130%;
  left: 0;
  content: '';
  width: 50px;
  height: 1px;
  background: gray; }

.sectionRight, .content .right .categories, .content .right .news, .content .right .tags {
  background: #f8f8f8;
  padding: 30px 20px;
  margin-top: 30px; }

.content {
  margin-top: 60px;
  display: flex; }
  .content .left {
    margin-right: 60px; }
    .content .left .img {
      position: relative; }
      .content .left .img img {
        width: 100%; }
      .content .left .img button {
        display: inline-block;
        position: absolute;
        bottom: 20px;
        left: 20px;
        padding: 6px 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #f8f8f8;
        font-size: 14px;
        line-height: 1.5;
        pointer-events: none;
        border-radius: 5px;
        background-color: #1ce489;
        z-index: 0; }
    .content .left .text .span span:last-child {
      margin-left: 25px; }
    .content .left .text h4 {
      margin: 20px 0;
      font-weight: 600;
      font-size: 25px; }
    .content .left .text .span {
      margin-top: 10px;
      font-size: 20px;
      letter-spacing: 1px; }
    .content .left .social .col-6 span {
      font-weight: 600;
      margin-bottom: 20px;
      font-size: 20px; }
    .content .left .social .col-6:first-child ul {
      margin-top: 20px;
      display: flex;
      align-items: center; }
      .content .left .social .col-6:first-child ul li {
        margin-left: 10px; }
        .content .left .social .col-6:first-child ul li a {
          text-decoration: none;
          color: white;
          font-size: 20px; }
          .content .left .social .col-6:first-child ul li a i {
            text-align: center;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            padding: 7px;
            background: green; }
    .content .left .social .col-6:last-child span {
      display: block; }
    .content .left .social .col-6:last-child a {
      color: white;
      text-decoration: none;
      padding: 5px 12px;
      font-size: 17px;
      border-radius: 3px;
      margin-right: 5px;
      margin-bottom: 10px;
      background-color: #1ce489; }
    .content .left .replay h4 {
      font-size: 25px;
      margin: 20px 0;
      font-weight: 600; }
    .content .left .replay form input {
      height: 30px;
      width: 96%;
      margin-top: 20px;
      padding-left: 20px; }
    .content .left .replay form .input {
      width: 44%; }
    .content .left .replay form textarea {
      padding-left: 20px;
      margin-top: 20px;
      width: 96.5%; }
    .content .left .replay form button {
      padding: 10px;
      font-size: 20px;
      background: none;
      border: 1px solid black;
      margin: 30px 0;
      position: relative; }
      .content .left .replay form button:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #1ce489;
        opacity: 0; }
    .content .left .replay form button:hover button:after {
      opacity: 1; }
  .content .right .search {
    background: #f8f8f8;
    padding: 30px 0;
    text-align: center; }
    .content .right .search input {
      height: 45px;
      width: 60%;
      padding-left: 20px; }
    .content .right .search button {
      width: 45px;
      height: 50px;
      font-size: 20px;
      background: #1ce489; }
  .content .right .categories ul li {
    margin-bottom: 14px; }
    .content .right .categories ul li a {
      color: inherit;
      font-size: 19px; }
    .content .right .categories ul li span {
      background-color: #1ce489;
      float: right;
      min-width: 20px;
      text-align: center;
      color: #fff;
      font-size: 15px;
      border-radius: 12px;
      line-height: 21px; }
  .content .right .news .col-2 img {
    width: 100%; }
  .content .right .news .col-10 h5 a {
    text-decoration: none;
    color: gray; }
  .content .right .news .col-10 span {
    color: gray;
    font-size: 15px; }
  .content .right .tags .tagcloud a {
    border: 1px solid #ebebeb;
    color: inherit;
    display: inline-block;
    padding: 8px;
    margin: 0 6px 6px 0;
    transition: all .3s;
    text-decoration: none;
    font-size: 15px;
    font-weight: 100; }
  .content .right .tags .tagcloud a:hover {
    background: #1ce489;
    color: white; }
  .content div p {
    margin: 0;
    color: #363636;
    font-size: 20px;
    margin-bottom: 30px; }
  .content div .border {
    border-left: 5px solid green;
    padding: 20px; }

footer .footer-top {
  background: rgba(0, 0, 0, 0.9); }
  footer .footer-top .logo h2 {
    padding-bottom: 10px;
    padding-top: 30px;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center; }
  footer .footer-top .social {
    text-align: center;
    padding-bottom: 50px; }
    footer .footer-top .social a {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      color: white; }
    footer .footer-top .social a:hover {
      background: #1ce489;
      color: black; }

footer .footer-bottom {
  background: black;
  text-align: center; }
  footer .footer-bottom h6 {
    color: #999;
    font-size: 17px;
    font-weight: 400;
    padding: 20px; }

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: white;
  transition: all 0.5s; }

@media screen and (max-width: 1024px) {
  .content .left .replay form .input {
    width: 45.6%; } }

@media screen and (max-width: 980px) {
  .noCollapse {
    display: none; }
  header .menuCollapse {
    display: block; }
  .content .left .replay form .reInput {
    width: 96%;
    margin-right: 0; } }

@media screen and (max-width: 800px) {
  .col-8 {
    width: 90%; }
  .left {
    width: 100%;
    display: block; }
  .right {
    width: 100%;
    display: block; } }
